<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dolo Cloud</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <h1>Design your dolo!</h1>
    <img th:src="@{/images/DoloCloud.jpeg}"/>
    <form method="POST" th:object="${dolo}">
        <div class="grid">
            <div class="ingredient-group" id="sugars">
                <h3>Designate your sugar:</h3>
                <div th:each="ingredient : ${sugar}">
                    <input th:field="*{ingredients}" type="checkbox"
                           th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="alcoholics">
                <h3>Designate your alcohol:</h3>
                <div th:each="ingredient : ${alcoholic}">
                    <input th:field="*{ingredients}" type="checkbox"
                           th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="non-alcoholics">
                <h3>Designate your non-alcohol:</h3>
                <div th:each="ingredient : ${non_alcoholic}">
                    <input th:field="*{ingredients}" type="checkbox"
                           th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="sour">
                <h3>Designate your sour:</h3>
                <div th:each="ingredient : ${sour}">
                    <input th:field="*{ingredients}" type="checkbox"
                           th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>

          <h3>Name your dolo creation:</h3>
          <input type="text" th:field="*{name}"/>
          <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">Dolo name Error</span>
          <br/>
          <button>Submit Your Dolo</button>

        </div>
    </form>
</body>
</html>